
*{
  font-family: sans-serif;
}
.marginRight{
margin-right: 10px;
}

.delete{
  margin-left: 10px;
}
td{
  width: 150px;
}
.nav{
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box{
  padding: 5px;
  border: none;
  outline: none;
}


.modal-body{
  display: flex;
}

.btn btn-success{
color: rgb(74, 93, 201);
}